/*quienes somos*/
.textoSomos {
    max-height: 500px;
  }
  
  .cuerpoSomos {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "header""mainSomos""aos1""aos2""footer";
  }
  
  #sobreNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .somosRow2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
    width: 80%;
    align-self: flex-end;
    margin-right: 40px;
    height: 500px;
    grid-area: aos2;
    margin-bottom: 150px;
    margin-left: 30px;
  
     p {
      margin-bottom: 60px;
      margin-right: 80px;
      width: 30%;
    }
  
     img {
      border: 2px lightgray;
      height: 100%;
    }
  }
  
  .quienSoy {
    margin-bottom: 0%;
  }
  
  .quienSoyImage {
    height: 540px;
    width: 100%;
  }
  
  .quienSoy_P {
    font-size: 50px;
    color: azure;
    margin-top: 200px;
    font-family: 'Tai Heritage Pro', serif;
    font-style: italic;
  }
  
  .contenedorQuienesSomos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
    background-image: url(../imagenes/carpintero.jpg);
    background-size: cover;
    grid-area: mainSomos;
    margin-bottom: 80px;
  }
  
  .imagenSomos {
    width: 25%;
    height: 300px;
    margin-right: 100px;
  }
  
  .somosRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
    width: 80%;
    align-self: flex-start;
    margin-left: 40px;
    height: 500px;
    grid-area: aos1;
  
     img {
      border: 2px lightgray;
      height: 100%;
    }
  
     p {
      margin-bottom: 60px;
      width: 30%;
    }
}