@import "index";
@import "ayuda";
@import "contacto";
@import "productos";
@import "nosotros";
@mixin flex-column-space-around{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items: center;
}
/* variables y mapas*/
$producto:(
  stock: (#928b8bd0),
  precio: rgba(134, 2, 2, 0.801),
  texto: rgba(95, 18, 18, 0.699)
);
/* footer */
.logoFooter {
  width: 130px;
  height: 90px;
  margin-bottom: 25px;
}

.footer {
  display:flex;
  flex-direction:row;
  align-items:center;
  width:100%;
  justify-content:space-around;
  border-top: 1px grey double;
}

.contenedorFooter {
  display:flex;
  width: 100%;
  justify-content:center;
  height:auto;
  grid-area: footer;
}

.descripcion {
  max-width:400px;
  color: gray;
  margin-top:60px;
}

.instagram {
  width:30px;
  height:30px;
}

.redes {
  display:flex;
  align-items:center;
  width:120px;
  height:80px;
  justify-content: space-between;
}

/* estilos compartidos */
.contact {
  display:flex;
  justify-content:left;
  flex-direction:column;
  max-width:300px;
  margin-left:40px;
  input {
    margin-bottom:10px;
  }
}

.image {
  height:500px;
  width:80%;
}

.logo {
  height:110px;
  width:180px;
  margin-bottom:20px;
}

.titulo {
  font-size:32px;
}

.pregunta {
  font-size:20px;
  margin-top:10px;
}

.parrafoFoto {
  position: absolute;
  margin-top: 230px;
  color: aliceblue;
  font-size: 40px;
  max-width: 700px;
  margin-right: 312px;
  font-family: 'Joan', serif;
}

body {
  margin: 0%;
}

.btn-light {
  width: 25%;
  margin: auto;
}

#carouselExampleIndicators {
  width: 100%;}

.d-block {
  height: 600px;
}

.bienvenide {
  position: absolute;
  margin-top: 400px;
  margin-left: 300px;
  color: azure;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#map {
  grid-area: map;
  justify-self: center;
  height: 400px;
  width: 100%;}

.tituloCercana{
  font-size: 42px;
}

/* responsive media */

@media (max-width: 1120px) {
  .productoRow {
    flex-direction: column;}
}

@media (max-width: 1500px) {
  .contenedorProductos {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 1140px) {
  .contenedorProductos {
    grid-template-columns: auto;}}

@media (max-width: 780px) {
  .botonCategorias {
    display: block;
  }

  .lateralJs {
    display: none;
  }

  .menuLateral {
    height: fit-content;
    grid-area: menuJs;
  }

  #productos {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "menuJs""desplegable""productoJs";
    row-gap: 30px;
  }

  .contenedorProductos {
    grid-area: productoJs;
  }}

@media (min-width: 779px) {
  .menuJs {
    display: none !important;
  }}

@media (max-width: 800px) {
  .contenedorQuienesSomos {
    margin-bottom: 0px;
  }

  .somosRow {
    flex-direction: column;
    max-height: 900px;
  }

  .imagenSomos {
    margin: 0%;
  }

  .somosRow p {
    margin-bottom: 0%;
    width: 70%;
  }

  .somosRow img {
    width: 50%;
    height: 200px;
    margin-bottom: 45px;
  }

  .somosRow2 {
    flex-direction: column;
    max-height: 900px;
    justify-content: center;
  }

  .somosRow2 p {
    margin-bottom: 0%;
    width: 70%;
    margin-right: 0%;
  }

  .somosRow2 img {
    width: 50%;
    height: 200px;
    margin-top: 45px;
  }
}

@media (max-width: 1090px) {
  .barraNavegacion li {
    width: 140px;}
}

@media (max-width: 860px) {
  .barraNavegacion {
    display: none;
  }

  .menuNav {
    display: block;
  }

  .navegacion {
    justify-content: space-between;}
}

@media (min-width: 860px) {
  .menu {
    display: none !important;
  }

  .menuMobile {
    display: none;}
}

@media (max-width: 600px) {
  .contenedorGrande {
    height: 750px;
    flex-direction: column;}
  .parrafoContacto {
    width: 80%;}
}

@each $partes, $colores in $producto{
  .#{$partes} {
    color: $colores;
  }
}

.tituloDescuentos{
  color: map-get($producto,precio);
  font-size: 25px;
}

.textoDescuentos{
  color: map-get($producto, stock);
}

.contenedorDescuentos{
  @extend .contenedorProductos;
  flex-direction: row;
  grid-area: cards;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "texto" "seccion";
  width: 100%;
  justify-items: center;
  align-items: center;
}

.descuentoUno{
  @extend .productoUno;
  flex-direction: row;
  height: 225px;
  border: gray 1px solid;
  width: 100%;
  justify-content: space-around;
}

.descuentoDos{
  @extend .productoDos;
  flex-direction: row;
  height: 225px;
  border: gray 1px solid;
  width: 100%;
  justify-content: space-around;
}

.descuentoTres{
  @extend .productoTres;
  flex-direction: row;
  height: 225px;
  border: gray 1px solid;
  width: 100%;
  justify-content: space-around;
}

.descuentoImagen{
  height: 100px;
  width: 100px;
  justify-content: start;
}

.descuentoPrecio{
  font-size: 20px;
  color: map-get($producto,precio);
}

.descuentoColumn{
  @include flex-column-space-around;
}

.btn-outline-danger{
  color: #842029;
  border-color: #842029;
  &:hover{
    background-color: #842029;
    border-color: #842029;
  }
}

.anuncioDescuentos{
  grid-area: texto;
  font-size: 42px;
}

.seccionDescuento{
  grid-area: seccion;
  display: flex;
  flex-direction: row;
}

@media (max-width: 1015px){
  .anuncioDescuentos{
    font-size: 38px;
  }
  .seccionDescuento{
    height: 80%;
  }
  .descuentoUno{
    width: 80%;
    height: 200px;
  }
  .descuentoDos{
    width: 80%;
    height: 200px;
  }
  .descuentoTres{
    height: 200px;
  }
  .tituloDescuentos{
    font-size: 20px;
  }
  .btn{
    font-size: 12px;
  }
}

@media (max-width: 925px){
  .anuncioDescuentos{
    font-size: 32px;
  }
  .seccionDescuento{
    height: 60%;
  }
  .descuentoUno{
    width: 60%;
    height: 150px;
    margin: 0%;
  }
  .descuentoDos{
    width: 60%;
    height: 150px;
    margin: 0%;
  }
  .descuentoTres{
    width: 60%;
    height: 150px;
    margin: 0%;
  }
  .tituloDescuentos{
    font-size: 18px;
  }
  .btn{
    font-size: 12px;
  }
}

@media (max-width: 800px){
  .anuncioDescuentos{
    font-size: 26px;
  }
  .seccionDescuento{
    height: 40%;
  }
  .descuentoUno{
    width: 40%;
    height: 120px;
    margin: 0%;
  }
  .descuentoDos{
    width: 40%;
    height: 120px;
    margin: 0%;
  }
  .descuentoTres{
    width: 40%;
    height: 120px;
    margin: 0%;
  }
  .tituloDescuentos{
    font-size: 12px;
  }
  .btn{
    font-size: 9px;
  }
  .descuentoImagen{
    width: 75px;
    height: 75px;
  }
  .descuentoPrecio{
    font-size: 14px;
  }
  .tituloCercana{
    font-size: 32px;
  }
}

@media (max-width: 600px){
  .anuncioDescuentos{
    font-size: 22px;
  }
  .seccionDescuento{
    height: 40%;
  }
  .descuentoUno{
    width: 30%;
    height: 120px;
    margin: 0%;
  }
  .descuentoDos{
    width: 30%;
    height: 120px;
    margin: 0%;
  }
  .descuentoTres{
    width: 30%;
    height: 120px;
    margin: 0%;
  }
  .tituloDescuentos{
    font-size: 10px;
  }
  .btn{
    font-size: 7px;
  }
  .descuentoImagen{
    width: 70px;
    height: 70px;
  }
  .descuentoPrecio{
    font-size: 12px;
  }
  .tituloCercana{
    font-size: 26px;
  }
}