@import "index";
@import "ayuda";
@import "contacto";
@import "productos";
@import "nosotros";
@mixin flex-column-space-around{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items: center;
}
/* variables y mapas*/
$producto:(
  stock: (#928b8bd0),
  precio: rgba(134, 2, 2, 0.801),
  texto: rgba(0, 0, 0, 0.699)
);
/* footer */
.logoFooter {
  width: 130px;
  height: 90px;
  margin-bottom: 25px;
}

.footer {
  display:flex;
  flex-direction:row;
  align-items:center;
  width:100%;
  justify-content:space-around;
  border-top: 1px grey double;
}

.contenedorFooter {
  display:flex;
  width: 100%;
  justify-content:center;
  height:auto;
  grid-area: footer;
}

.descripcion {
  max-width:400px;
  color: gray;
  margin-top:60px;
}

.instagram {
  width:30px;
  height:30px;
}

.redes {
  display:flex;
  align-items:center;
  width:120px;
  height:80px;
  justify-content: space-between;
}

/* estilos compartidos */
.contact {
  display:flex;
  justify-content:left;
  flex-direction:column;
  max-width:300px;
  margin-left:40px;
  input {
    margin-bottom:10px;
  }
}

.image {
  height:500px;
  width:80%;
}

.logo {
  height:110px;
  width:180px;
  margin-bottom:20px;
}

.titulo {
  font-size:32px;
}

.pregunta {
  font-size:20px;
  margin-top:10px;
}

.parrafoFoto {
  position: absolute;
  margin-top: 230px;
  color: aliceblue;
  font-size: 40px;
  max-width: 700px;
  margin-right: 312px;
  font-family: 'Joan', serif;
}

body {
  margin: 0%;
}

.btn-light {
  width: 25%;
  margin: auto;
}

#carouselExampleIndicators {
  width: 100%;}

.d-block {
  height: 600px;
}

.bienvenide {
  position: absolute;
  margin-top: 400px;
  margin-left: 300px;
  color: azure;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#map {
  grid-area: map;
  justify-self: center;
  height: 400px;
  width: 100%;}

.tituloCercana{
  font-size: 42px;
}

/* responsive media */

@media (max-width: 1120px) {
  .productoRow {
    flex-direction: column;}
}

@media (max-width: 1500px) {
  .contenedorProductos {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 1140px) {
  .contenedorProductos {
    grid-template-columns: auto;}}

@media (max-width: 780px) {
  .botonCategorias {
    display: block;
  }

  .lateralJs {
    display: none;
  }

  .menuLateral {
    height: fit-content;
    grid-area: menuJs;
  }

  #productos {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "menuJs""desplegable""productoJs";
    row-gap: 30px;
    justify-items: center;
  }
  .productoUno{
    margin-right: 0px;
  }
  .productoDos{
    margin-right: 0px;
  }
  .productoTres{
    margin-right: 0px;
  }
  .productoCuatro{
    margin-right: 0px;
  }
  .productoCinco{
    margin-right: 0px;
  }
  .productoSeis{
    margin-right: 0px;
  }

  .contenedorProductos {
    grid-area: productoJs;
  }}

@media (min-width: 779px) {
  .menuJs {
    display: none !important;
  }}

@media (max-width: 345px){
  .cardSomos{
  height: 700px;}
}

@media (max-width: 1090px) {
  .barraNavegacion li {
    width: 100px;}
}

@media (max-width: 860px) {
  .barraNavegacion {
    display: none;
  }

  .menuNav {
    display: block;
  }

  .navegacion {
    justify-content: space-between;}
}

@media (min-width: 860px) {
  .menu {
    display: none !important;
  }

  .menuMobile {
    display: none;}
}

@media (max-width: 600px) {
  .contenedorGrande {
    height: 750px;
    flex-direction: column;}
  .parrafoContacto {
    width: 80%;}
}

@each $partes, $colores in $producto{
  .#{$partes} {
    color: $colores;
  }
}

.tituloDescuentos{
  color: map-get($producto,precio);
  font-size: 25px;
  font-family: 'Roboto Condensed', sans-serif;
}

.textoDescuentos{
  color: map-get($producto, stock);
}

.contenedorDescuentos{
  @extend .contenedorProductos;
  flex-direction: row;
  grid-area: cards;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-template-areas: "texto" "seccion";
  width: 100%;
  justify-items: center;
  align-items: center;
  row-gap: 30px;
  column-gap: 30px;
}

.descuentoUno{
  display: flex;
  max-width: 400px;
  align-items: center;
  text-align: center;
  flex-direction: row;
  height: 225px;
  border: rgba(0, 0, 0, 0.787) 2px solid;
  width: 100%;
  padding: 0;
  justify-content: space-around;
  margin-right: 40px;
}

.descuentoDos{
  display: flex;
  max-width: 400px;
  align-items: center;
  text-align: center;
  flex-direction: row;
  height: 225px;
  border: rgba(0, 0, 0, 0.787) 2px solid;
  width: 100%;
  padding: 0;
  justify-content: space-around;
  margin-right: 40px;
}

.descuentoTres{
  display: flex;
  max-width: 400px;
  align-items: center;
  text-align: center;
  flex-direction: row;
  height: 225px;
  border: rgba(0, 0, 0, 0.787) 2px solid;
  width: 100%;
  padding: 0;
  justify-content: space-around;
  margin-right: 40px;
  }

.descuentoImagen{
  height: 140px;
  width: 100px;
  justify-content: start;
}

.descuentoPrecio{
  font-size: 20px;
  color: map-get($producto,precio);
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: line-through;
}

.preciosJuntos{
  display: flex;
  flex-direction: row;
}

.precioFinal{
  @extend .descuentoPrecio;
  margin-left: 7px;
  text-decoration: none;
}

.descuentoColumn{
  @include flex-column-space-around;
}

.productoDescuentoContainer{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.productHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px 20px 0px 20px;
}

.botonDescuento{
  border-bottom: 0;
  border: none;
  width: 100%;
  transition: all 1s ease-in-out;
  font-family: 'Roboto Condensed', sans-serif;
  &:hover{
    background-color: rgba(0, 0, 0, 0.787);
    color: white;
  }
}

.anuncioDescuentos{
  grid-area: texto;
  font-size: 42px;
  text-align: center;
}

.seccionDescuento{
  grid-area: seccion;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

@media (max-width: 1100px){
  .seccionDescuento{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .anuncioDescuentos{
    font-size: 28px;
  }
  .descuentoUno{
    margin-bottom: 50px;
  }
  .descuentoDos{
    margin-bottom: 50px;
  }
  .descuentoTres{
    margin-bottom: 50px;
  }
}

@media (max-width:550px){
  .descuentoUno{
    max-width: 260px;
    margin-right: 0px;
  }
  .descuentoDos{
    max-width: 260px;
    margin-right: 0px;
  }
  .descuentoTres{
    max-width: 260px;
    margin-right: 0px;
  }
  .anuncioDescuentos{
    font-size: 20px;
  }
}

@media (max-width: 1010px) {
  .contenedorQuienesSomos {
    margin-bottom: 0px;
  }
  .somosRow {
    width: 70%;
    height: auto;
     img {
      width: 100%;
    }
     p {
      margin-bottom: 0%;
      width: 70%;
    }
  }
  .imagenSomos {
    margin: 0%;
  }
  .somosRow2 {
    width: 70%;
    height: auto;
     p {
      margin-bottom: 0%;
      width: 70%;
      margin-right: 0%;
    }
    .somosRow2 img {
      width: 100%;
    }
  }}

@media (max-width: 348px) {
 .somosRow2{
  align-self: flex-start;
  width: 240px;
 } 
 .somosRow{
  width: 240px;
 }
}

@media (max-width: 540px) {
  .quienSoy_P{
    margin-left: 30px;
  }
}

@media (max-width: 415px) {
  .preguntas{
    margin-left: 0px;
  }
}